<div style="width: 100%;
height: 100vh;
min-height: 750px;
background: url(/assets/media/bgimage.jpg) center no-repeat;
background-size: cover;
position: relative;
overflow: hidden;

display: flex;">
<div class="centered">
  <div  id="investment-form" class="contain-fluid" >
    <div class="radiogroup" style="background: rgba(255, 255, 255, 0.8);">
      <h1>You have been Busted!!!</h1>
      <br>
      <span><h3>According to Mines and Minerals Act (Chapter 21:05), you cannot sell refined or unrefined minerals without proper registeration, which is done through the MMCZ</h3></span>
      <br>
      
    </div>
    <div style="padding: 10px;margin: 10px;">
    <a href="" class="fcc-btn"  >
     Restart Game
    </a>
  </div>
  
  
  </div>
</div>
</div>