<div  class="contain-fluid">
    <div >
      <h1>You have been Busted!!!</h1>
      <br>
      <span><h3>Accordig to Mines and Minerals Act (Chapter 21:05), you cannot sell refined or unrefined minerals without proper registeration, which is done through the MMCZ</h3><h1 style="font-size: 40px;" id="yeild"> Tonnes</h1></span>
      <br>
      
    </div>
    <div style="padding: 10px;margin: 10px;">
    <a href="" class="product-slider__cart" >
     Restart Game
    </a>
  </div>
  
  
  </div>