<h3>Alternative Sales Channel   |    level 4</h3>
<button id="btn" onclick="aModal()">Start</button>

<!-- 1.	Tech Investment Stage The Modal -->
<div id="myModalA" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Trade Policies and Regulations:</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form id="investment-form">
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="investment-option1" value="1">
                        $5000
                    </label>
                    <br>
                    <p>
                        International trade policies and regulations can impact the player's ability to access certain markets or sell their minerals at competitive prices. Players must navigate import and export restrictions, tariffs, and trade agreements to optimize their marketing and sales strategies.
                        The marketing and sales phase in Mineral Tycoon challenges players to develop effective strategies for promoting and selling their minerals in a competitive global market. By considering the pros and cons of partnering with the MMCZ, exploring alternative sales channels, and adapting to market conditions, players can optimize their revenues and secure the long-term success of their mining venture.
                        </p>
                    <br>
                     </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="dismissA()" id="submit-button">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="dismissA()" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  
  </div>

<!-- 2.	Equipment Maintenance The Modal -->
<div id="myModalB" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Branding and Reputation:</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form id="investment-form">
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="investment-option1" value="1">
                        $1000
                    </label>
                    <br>
                    <p>
                        Establishing a strong brand and reputation can enhance the marketability and value of the player's products. Players must invest in branding, advertising, and public relations efforts to create a positive image for their mining venture. Emphasizing responsible mining practices, high-quality products, and ethical business conduct can attract premium buyers and command higher prices
                    </p>
                    </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="dismissB()" id="submit-button">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="dismissB()" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  
  </div>  


<!-- 3 Workforce Management The Modal -->
<div id="myModalC" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Market Fluctuations</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form id="investment-form">
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="investment-option1" value="1">
                        $1000
                    </label>
                    <br>
                    <p>
                        The prices of minerals are subject to market fluctuations based on global supply and demand, geopolitical factors, and economic trends. Players must monitor market conditions and adjust their marketing and sales strategies accordingly, aiming to maximize revenues and minimize risks.
                    </p>
                   </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="dismissC()" id="submit-button">Proceed To Sell</button>
            <button type="button" class="btn btn-secondary" onclick="dismissC()" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  
  </div>      

 <!--5. the next level modal The Modal -->
 <div id="myModalD" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Congratulations Game Complete. You can proceed to see your results </h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
           <a type="button" class="btn btn-secondary" href="/results">See Results</a>
        </div>
    </div>
  
  </div>   