<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center mb-4">Select Mining Process</h2>
  <form action="/simulation" method="POST">
      <div class="mb-3">
        <label>Choose an option:</label>
        <div class="mb-3">
          <input class="form-check-input" type="check" name="option1" id="option1" value="General Labour">
          <label class="form-check-label" for="option1">
            General Labour - $50,000.00
          </label>
          <p>
            </p>
        </div>
        <div class="mb-3">
          <input class="form-check-input" type="check" name="option2" id="option2" value="Management">
          <label class="form-check-label" for="option2">
            Management - $90,000.00
          </label>
          <p></p>
        </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  </div>
  </div>