<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center mb-4">Select Staff</h2>
  <form action="/simulation-level-one" method="POST">

        <div class="container mt-5">
          <div class="row">
            <div class="col-md-12">
              <label for="slider1" class="form-label">General Labour - $1000/employee</label>
              <div class="d-flex align-items-center">
                <input
                  type="range"
                  class="form-range me-2"
                  min="10"
                  max="1000"
                  name="general_labour"
                  step="1"
                  id="slider1"
                  onchange="updateValue1()"
                />
                <span id="slider1-value"></span>
              </div>
            </div>
            <br/>
            <div class="col-md-12">
              <label for="slider2" class="form-label">Management - $5000/employee</label>
              <div class="d-flex align-items-center">
                <input
                  type="range"
                  class="form-range me-2"
                  min="10"
                  max="100"
                  name="management"
                  step="1"
                  id="slider2"
                  onchange="updateValue2()"
                />
                <span id="slider2-value"></span>
              </div>
            </div>
          </div>
        </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  </div>
  </div>