<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center mb-4">Select Mining Equipment</h2>
  <form action="/add/Employment" method="POST">
      <div class="mb-3">
        <label>Choose an option:</label>
        <div class="mb-3">
          <input class="form-check-input" type="checkbox" name="option1" id="option1" value="Blasthole drills">
          <label class="form-check-label" for="option1">
            Blasthole drills - $10 000.00
          </label>
          <p></p>
        </div>
        <div class="mb-3">
          <input class="form-check-input" type="checkbox" name="option2" id="option2" value="Bucket-wheel excavators">
          <label class="form-check-label" for="option2">
            Bucket-wheel excavators - $10 000.00
          </label>
          <p></p>
        </div>
        <div class="mb-3">
          <input class="form-check-input" type="checkbox" name="option3" id="option3" value="Dozers">
          <label class="form-check-label" for="option3">
            Dozers - $10 000.00
          </label>
          <p></p>
        </div>
        <div class="mb-3">
            <input class="form-check-input" type="checkbox" name="option4" id="option2" value="Dragline excavators">
            <label class="form-check-label" for="option2">
                Dragline excavators - $10 000.00
            </label>
            <p></p>
          </div>
          <div class="mb-3">
            <input class="form-check-input" type="checkbox" name="option5" id="option3" value="Wheel tractor scrapers">
            <label class="form-check-label" for="option3">
                Wheel tractor scrapers - $10 000.00
            </label>
            <p></p>
          </div>
          <div class="mb-3">
            <input class="form-check-input" type="checkbox" name="option6" id="option2" value="Highwall miners">
            <label class="form-check-label" for="option2">
                Highwall miners - $10 000.00
            </label>
            <p></p>
          </div>
          <div class="mb-3">
            <input class="form-check-input" type="checkbox" name="option7" id="option3" value="Mining trucks">
            <label class="form-check-label" for="option3">
                Mining trucks - $10 000.00
            </label>
            <p></p>
          </div>
          <div class="mb-3">
            <input class="form-check-input" type="checkbox" name="option8" id="option2" value="Shovels">
            <label class="form-check-label" for="option2">
                Shovels - $10 000.00
            </label>
            <p></p>
          </div>
          <div class="mb-3">
            <input class="form-check-input" type="checkbox" name="option9" id="option3" value="Mill">
            <label class="form-check-label" for="option3">
                Mill - $10 000.00
            </label>
            <p></p>
          </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  </div>
  </div>