<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center mb-4">Select Exploration Methods</h2>
<form action="/add/exploration" method="POST">
    <div class="mb-3">
      <label>Choose an option:</label>
      <div class="mb-3">
        <input class="form-check-input" type="checkbox" name="option1" id="option1" value="Boulder Exploration">
        <label class="form-check-label" for="option1">
            Boulder Exploration - $10 000.00
        </label>
        <p>Physically searching on site for geologically interesting boulders that have been separated from the bedrock in connection with inland ice sheet movements and are now a part of a till layer. The discovery of e.g. copper or zinc indicates the possibility of deposits in nearby bedrock.

            The method has limited or no environmental impact.</p>
      </div>
      <div class="mb-3">
        <input class="form-check-input" type="checkbox" name="option2" id="option2" value="Geological Mapping">
        <label class="form-check-label" for="option2">
            Geological Mapping - $10 000.00
        </label>
        <p>Documents the geological properties of outcrops, including metallic minerals, and gathers the information in databases for interpretation and analysis.

            The method has limited or no environmental impact.</p>
      </div>
      <div class="mb-3">
        <input class="form-check-input" type="checkbox" name="option3" id="option3" value="Geophysical Surveys">
        <label class="form-check-label" for="option3">
            Geophysical Surveys - $10 000.00
        </label>
        <p>Investigates the bedrock’s physical properties. Surveys can be performed from the air, manually on the ground or using probes lowered into bore holes.

            The method has limited or no environmental impact.</p>
      </div>
      <div class="mb-3">
        <input class="form-check-input" type="checkbox" name="option4" id="option4" value="Geochemical Sampling and Drilling">
        <label class="form-check-label" for="option4">
            Geochemical Sampling and Drilling - $10 000.00
        </label>
        <p>Analyses till and drill cuttings to trace mineralisations

            Limited impact on the environment in the form of minor ground damage may occur.</p>
      </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
</div>