<div id="first-splash" style="display: flex;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
overflow: hidden;background-color: white;z-index: 5;position: absolute;"> <img src="/assets/media/mmcz splash.gif" class="gif" alt="GIF"></div>
<div id="second-splash" style="width: 95vw;height:95vh;color:goldenrod;z-index: 3;position: absolute;">
  <div class="container mt-5">
    <h1 class="mb-4">Mining Tycoon</h1>
    <div class="row">
      <div class="col-md-6">
        <h3>Start Game</h3>
        <button class="btn btn-success btn-lg mb-4" onclick="startIntro()">Play</button>
        <br />
        <button class="btn btn-info btn-lg mb-4">Leaderboard</button>
      </div>
    </div>
  </div>

</div>
<!--<div id="intro-div" class="container-fluid p-0">
  <div class="container-fluid p-0 d-flex align-items-center justify-content-center">
    
    <video   autoplay style="padding-left: 50px;margin: auto;" controls><source src="/assets/media/Copy of Mining Tycoon Intro .mp4" type="video/mp4"></video>
    
  </div>
</div>-->
<div id="intro-div" class="container-fluid p-0" style="background-color: #0f2323;">
  <div style="display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;">
    <video id="myVideo"  src="/assets/media/Copy of Mining Tycoon Intro .mp4" controls></video>
  </div>
</div>
<div style="width: 100%;height: 100%; background-image: url(/assets/media/EXCA.png);  background-repeat: no-repeat;background-size: 100%;
background-position: center;overflow: hidden;
">
<div id="main-input" class="container text-center mt-5" >
    <h1 style="color:navy;font-weight: 600;">Welcome to Mining Tycoon!</h1>
    <div  style="background: rgba(255, 255, 255, 0.8); margin: auto;
    padding: auto;
    position: absolute;
    top: 50%;
    left: 30%;
    width: 600px; /* Set the height of the div to 100% of viewport height */
  border-radius: 16px;
  box-shadow:
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;font-weight: 600;">
  
      <form action="/add/mineral" method="POST">
        <h3>Login Here</h3>
     
        <div style=" width: 100%;">
          <label>Enter your name</label>
          <input name="name" placeholder="John Doe" required  type="text" >
        </div>
        <br/>
        <div style=" width: 100%;">
          <label>Your Gender</label>
          <select  name="gender" required>
            <option value=""></option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <br/>
        <div style=" width: 100%;">
          <mat-label>Age Group</mat-label>
          <select  name="age" required>
            <option value=""></option>
            <option value="18-30">18 - 30</option>
            <option value="31-40">31 - 40</option>
            <option value="41-60">41 - 60</option>
            <option value="61+">61+</option>
          </select>
        </div>
      
        <button type="submit" style=" margin-top: 20px;
        width: 100%;
        padding: 15px 0;
        font-size: 14px;
        font-weight: 300;
        border-radius: 5px;background-color: goldenrod;color: navy;font-weight: 600;" >Save and Start</button>
      </form>
      
    </div>
  </div>
  </div>