<div class="container text-center mt-5">
    <h1>Welcome to Mining Tycoon!</h1>
    <p class="lead">Enter your name to get started:</p>
    <form action="/add/mineral" method="POST">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          name="name"
          placeholder="Enter your name"
          aria-label="Enter your name"
          aria-describedby="button-addon2"
          id="textbox_id"
          required
        />
        <button
          class="btn btn-primary"
          type="submit"
          id="button-addon2" 
        >
          Start Game
        </button>
      </div>
      </form>
  </div>