<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center mb-4">Select Infrastructure</h2>
  <form action="/add/Mining-Process" method="POST">
      <div class="mb-3">
        <label>Choose an option:</label>
        <div class="mb-3">
          <input class="form-check-input" type="checkbox" name="option1" id="option1" value="Boulder Exploration">
          <label class="form-check-label" for="option1">
            Road - $100 000.00
          </label>
          <p>Road</p>
        </div>
        <div class="mb-3">
          <input class="form-check-input" type="checkbox" name="option2" id="option2" value="Geological Mapping">
          <label class="form-check-label" for="option2">
            Electricity - $50 000.00
          </label>
          <p>Electricity</p>
        </div>
        <div class="mb-3">
          <input class="form-check-input" type="checkbox" name="option3" id="option3" value="Geophysical Surveys">
          <label class="form-check-label" for="option3">
            Water - $50 000.00
          </label>
          <p>Water</p>
        </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  </div>
  </div>