<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center mb-4">Select Mining Process</h2>
  <form action="/add/Equipment" method="POST">
      <div class="mb-3">
        <label>Choose an option:</label>
        <div class="mb-3">
          <input class="form-check-input" type="radio" name="option1" id="option1" value="Open Cast">
          <label class="form-check-label" for="option1">
            Open Cast
          </label>
          <p>
            Open-pit mining, also known as opencast mining, is a surface mining technique that extracts minerals from an open pit in the ground. Open-pit mining is the most common method used throughout the world for mineral mining and does not require extractive methods or tunnels.</p>
        </div>
        <div class="mb-3">
          <input class="form-check-input" type="radio" name="option2" id="option2" value="Underground Mining">
          <label class="form-check-label" for="option2">
            Underground Mining
          </label>
          <p>Underground mining is used to extract ore from below the surface of the earth safely, economically and with as little waste as possible. The entry from the surface to an underground mine may be through a horizontal or vertical tunnel, known as an adit, shaft or decline.</p>
        </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  </div>
  </div>