<h3> MMCZ Partnership: Boost Your Profits with a Powerful Ally!   |    level 4</h3>
<button id="btn" onclick="eModal()">Start</button>

<!-- 2.	Equipment Maintenance The Modal -->
<div id="myModalE" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">MMCZ Requirements:</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form id="investment-form">
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="investment-option1" value="1">
                       $5000
                    </label>
                    <br>
                    <p>
                        1.	Producer/Miner contact details
                        </p>
                    <br>
                    <p>
                        2.	Claims registration certificates
                        </p>
                    <br>
                    <br>
                    <p>3.	Company registration documents
                    </p>
                    <br>
                    <p>
                        4.	Customer details for that specific producer 
                        -these are used when drafting sales contracts
                    </p>
                    <br>
                    <p>
                        5.	ZIMRA BPN number
                    </p>
                    <br>
                    <p>
                        6.	Letter of authorization
                        -written to the producer’s bankers enabling the bank to deduct commissions and taxes
                         </p>
                        <br>
                    </div>   
                </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="dismissG()" id="submit-button">Sell Locally</button>
            <button type="button" class="btn btn-primary" onclick="dismissE()" data-dismiss="modal">Sell internationally</button>
        </div>
    </div>
  
  </div>  
<!-- 1.	Tech Investment Stage The Modal -->
<div id="myModalF" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Mineral Export Registration Requirements:</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form id="investment-form">
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="investment-option1" value="1">
                       $5000
                    </label>
                    <br>
                    <p>
                        1. Register as a mineral exporter with RBZ
                        -this is done through your bank
                        </p>
                    <br>
                    <p>
                        2. Register as a mineral exporter with ZIMRA
                        -an account for clearance fees is opened with ZIMRA
                        </p>
                    <br>
                    <p>3. Export authorization from MMMD where required by law</p>
                    <br>
                    <p>4. Export permit</p>
                    <br>
                    <p>5. Sales agreements/contracts
                        -these involve MMCZ, the producer and the customer and contain the terms and conditions of sale i.e. product, quantity, price, basis, delivery and payment terms
                        </p>
                    <br>
                    </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="dismissF()" id="submit-button">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="dismissF()" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  
  </div>




<!-- 3 Workforce Management The Modal -->
<div id="myModalG" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Congratulations! Here are a list of your MMCZ Export Documents :</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <p>1.	CD1</p>
            <br>
            <p>2.	Invoice</p>
            <br>
            <p>3.	Bill of Entry</p>
            <br>
            <p>4.	Release order</p>
            <br>
            <p>5.	Consignment note</p>
            <br>
        </div>
           
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="dismissG()" id="submit-button">Proceed To Sell</button>
        </div>
    </div>
  
  </div>    

  

 <!--5. the next level modal The Modal -->
 <div id="myModalH" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Congratulations Game Complete. You can proceed to see your results</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
           <a type="button" class="btn btn-secondary" href="/results">See your Results</a>
        </div>
    </div>
  
  </div>   