<div style="height: 100vh;overflow: hidden;">
    <!-- partial:index.partial.html -->
    <div class="wrapper">
     
      <div class="content">
        <div class="product-slider">
          <div class="product-slider__wrp swiper-wrapper">
            <div class="product-slider__item swiper-slide" data-target="img4">
              <div class="product-slider__card">
                <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1536405223/starwars/item-4-bg.webp" alt="star wars" class="product-slider__cover">
                <div class="product-slider__content">
                  <div class="product-ctr">
                    <div class="product-labels">
                      <div class="container mt-5">
                        <div class="row">
                          <div class="col-md-6 offset-md-3">
                            <h2 class="text-center mb-4">MMCZ Partnership: Boost Your Profits with a Powerful Ally!</h2>
                            <div id="first-section" class="form-group">
                              <label>
                                <input type="checkbox" name="option1" value="MMCZ Requirements"> MMCZ Requirements: $5000 </label>
                              <br>
                              <p> 1. Producer/Miner contact details </p>
                              <p> 2. Claims registration certificates </p>
                              <p>3. Company registration documents </p>
                              <p> 4. Customer details for that specific producer -these are used when drafting sales contracts </p>
                              <p> 5. ZIMRA BPN number </p>
                              <p> 6. Letter of authorization -written to the producer’s bankers enabling the bank to deduct commissions and taxes </p>
                            </div>
                            <div id="second-section" class="form-group">
                              <label>
                                <input type="checkbox" name="option2" value="Mineral Export Registration Requirements"> Mineral Export Registration Requirements: $5000 </label>
                              <br>
                              <p> 1. Register as a mineral exporter with RBZ -this is done through your bank </p>
                              <p> 2. Register as a mineral exporter with ZIMRA -an account for clearance fees is opened with ZIMRA </p>
                              <p>3. Export authorization from MMMD where required by law</p>
                              <p>4. Export permit</p>
                              <p>5. Sales agreements/contracts -these involve MMCZ, the producer and the customer and contain the terms and conditions of sale i.e. product, quantity, price, basis, delivery and payment terms </p>
                    
                            </div>
                            <div id="third-section" class="form-group">
                                <label>
                                 Congratulations here are the Documents produced by MMCZ for you to sell your Minerals Internationally </label>
                                <br>
                                <p>1.	CD1</p>
                                <p>2.	Invoice</p>
                                <p>3.	Bill of Entry</p>
                                <p>4.	Release order</p>
                                <p>5.	Consignment note</p>
                                <br>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-slider__bottom">
                    <button id="ta"  onclick="next()" class="product-slider__cart"> Next </button>
                  </div>
                  <div class="product-slider__bottom">
                    <button id="ta1"  onclick="submit()" class="product-slider__cart"> Submit </button>
                  </div>
                  <div class="product-slider__bottom">
                    <button id="ta2"  onclick="complete()" class="product-slider__cart"> Sell Your Minerals </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <svg class="hidden" hidden>
      <symbol id="icon-arrow-left" viewBox="0 0 32 32">
        <path d="M0.704 17.696l9.856 9.856c0.896 0.896 2.432 0.896 3.328 0s0.896-2.432 0-3.328l-5.792-5.856h21.568c1.312 0 2.368-1.056 2.368-2.368s-1.056-2.368-2.368-2.368h-21.568l5.824-5.824c0.896-0.896 0.896-2.432 0-3.328-0.48-0.48-1.088-0.704-1.696-0.704s-1.216 0.224-1.696 0.704l-9.824 9.824c-0.448 0.448-0.704 1.056-0.704 1.696s0.224 1.248 0.704 1.696z"></path>
      </symbol>
      <symbol id="icon-arrow-right" viewBox="0 0 32 32">
        <path d="M31.296 14.336l-9.888-9.888c-0.896-0.896-2.432-0.896-3.328 0s-0.896 2.432 0 3.328l5.824 5.856h-21.536c-1.312 0-2.368 1.056-2.368 2.368s1.056 2.368 2.368 2.368h21.568l-5.856 5.824c-0.896 0.896-0.896 2.432 0 3.328 0.48 0.48 1.088 0.704 1.696 0.704s1.216-0.224 1.696-0.704l9.824-9.824c0.448-0.448 0.704-1.056 0.704-1.696s-0.224-1.248-0.704-1.664z"></path>
      </symbol>
    </svg>
    <div id="myModal1a" class="modal" style="height: 100vh;">
      <!-- Modal content -->
      <div id="intro-vid" style="height: 100vh;">
        <div class="container-fluid" style="background-color: #0f2323;">
          <div style="display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                overflow: hidden;">
            <video id="myVideo1a" src="/assets/media/1 welcome.mp4" controls></video>
          </div>
        </div>
      </div>
      </div>
      <div id="myModal1b" class="modal" style="height: 100vh;">
        <!-- Modal content -->
        <div id="intro-vid" style="height: 100vh;">
          <div class="container-fluid" style="background-color: #0f2323;">
            <div style="display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 100%;
                  width: 100%;
                  overflow: hidden;">
              <video id="myVideo1b" src="/assets/media/2 next step.mp4" controls></video>
            </div>
          </div>
        </div>
        </div>
        <div id="myModal1c" class="modal" style="height: 100vh;">
          <!-- Modal content -->
          <div id="intro-vid" style="height: 100vh;">
            <div class="container-fluid" style="background-color: #0f2323;">
              <div style="display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    overflow: hidden;">
                <video id="myVideo1c" src="/assets/media/3 once all.mp4" controls></video>
              </div>
            </div>
          </div>
          </div>
          <div id="myModal1d" class="modal" style="height: 100vh;">
            <!-- Modal content -->
            <div id="intro-vid" style="height: 100vh;">
              <div class="container-fluid" style="background-color: #0f2323;">
                <div style="display: flex;
                      align-items: center;
                      justify-content: center;
                      height: 100%;
                      width: 100%;
                      overflow: hidden;">
                  <video id="myVideo1d" src="/assets/media/4 conclusion.mp4" controls></video>
                </div>
              </div>
            </div>
            </div>
            <div id="myModal1d" class="modal" style="height: 100vh; background-color: #f7f7f7;">
              <audio
      id="winning-sound"
      src="winning_sound.mp3"
      preload="auto"
      autoplay
    ></audio>
    <div class="container">
      <h1>Congratulations!</h1>
      <p>
        You've successfully completed your mining venture and become a Mineral
        Tycoon!
      </p>
      <p>
        You sold <%= yeild %> kgs of <%= mineral %> and made : $10,000,000
      </p>
      <button onclick="playWinningSound()">Celebrate!</button>
    </div>
              </div>
  </div>