<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center mb-4">Select Permits</h2>
  <form action="/add/permits" method="POST">
      <div class="mb-3">
        <label>Choose an option:</label>
        <div class="mb-3">
          <input class="form-check-input" type="checkbox" name="option1" id="option1" value="Boulder Exploration">
          <label class="form-check-label" for="option1">
            Registered Mining Claim(s) - $5 000.00
          </label>
          <p>Registered Mining Claim(s)</p>
        </div>
        <div class="mb-3">
          <input class="form-check-input" type="checkbox" name="option2" id="option2" value="Geological Mapping">
          <label class="form-check-label" for="option2">
            Special Grant for Mining Purposes - $5 000.00
          </label>
          <p>Special Grant for Mining Purposes</p>
        </div>
        <div class="mb-3">
          <input class="form-check-input" type="checkbox" name="option3" id="option3" value="Geophysical Surveys">
          <label class="form-check-label" for="option3">
            Mining Lease - $5 000.00
          </label>
          <p>Mining Lease</p>
        </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  </div>
  </div>