<h3>Refinement  </h3>
<button id="btn" onclick="eleventhModal()">Start</button>

<!-- 1.	Tech Investment Stage The Modal -->
<div id="myModal11" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Refining Technologies: Time to Level Up!</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form id="investment-form">
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="investment-option1" value="1">
                        Gold: $15000
                    </label>
                    <br>
                    <p>a. Smelting: Melt your gold at high temperatures to remove impurities and create gold bars. A cost-effective and widely used method, smelting can result in a considerable increase in value.
                    </p>
                    <br>
                    <p>    
                        b. Electrolysis: Go the extra mile and use electrolysis to achieve even higher purity levels. While more expensive, this method can lead to top-quality gold, fetching premium prices in the market.
                    </p>    
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option2" value="2">
                        Lithium: $10000
                    </label>
                    <br>
                    <p>
                        a. Chemical Processing: Extract lithium from ores or brines using a series of chemical processes. This method is more affordable but may result in lower purity levels.
                    </p>
                    <br/>
                    <p>   
                        b. Purification: Invest in advanced purification technologies to produce high-quality lithium. This option requires more capital but can yield higher profits due to the increased demand for refined lithium in industries like electric vehicles and energy storage.
                        </p>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option3" value="3">
                        Platinum: $20000
                    </label>
                    <br>
                    <p>
                        a. Froth Flotation: Separate platinum from other minerals using a froth flotation process. A widely used and cost-effective option, this method can significantly increase the mineral's value.
                    </p>
                    <br>
                    <p>   
                        b. Pyrometallurgical Refining: Opt for a more complex refining process, involving high-temperature smelting and chemical reactions, to achieve a higher purity platinum product. This method is more expensive but can result in premium market prices.

                    </p>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option3" value="3">
                        Diamond: $15000
                    </label>
                    <br>
                    <p>
                        a. Crushing & Screening: Use crushing and screening techniques to liberate diamonds from their host rock. This low-cost option can result in a sizable value increase.                    
                    </p>          
                        <br>
                    <p>   
                        b. Advanced Sorting: Invest in cutting-edge sorting technologies, such as X-ray fluorescence or laser sorting, to achieve higher purity and better-quality diamonds. This method requires more investment but can lead to significantly higher market prices.
                    </p>
                </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="dismiss11()" id="submit-button">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="dismiss11()" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  
  </div>

<!-- 2.	Equipment Maintenance The Modal -->
<div id="myModal12" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Refining Facilities: Build Your Empire! </h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form id="investment-form">
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="investment-option1" value="1">
                        Facility Scale - Small-Scale Facility: $20000
                    </label>
                    <br>
                    <p>
                        a. : Start with a modest facility, keeping initial costs low while gradually expanding your refining capacity as your profits grow. This option allows for more manageable risk-taking and steady growth.
                    </p>
                    <br>
                    <label>
                        <input type="radio" name="investment-option1" value="1">
                        Facility Scale - Large-Scale Facility: $20000
                    </label>  
                    <br>
                    <label>
                        <input type="radio" name="investment-option2" value="2">
                        Facility Location - Near Extraction Site:: $100000
                    </label>
                    <br>
                    <p>
                         Set up your refining facility close to the extraction site to minimize transportation costs and streamline operations. This option can result in significant cost savings but may be subject to site-specific limitations or environmental concerns. 
                    </p>
                    <br/>
                    <label>
                        <input type="radio" name="investment-option2" value="2">
                        Facility Location - Industrial Zone: $100000
                    </label>
                    <br>
                    <p> 
                         Choose a strategically located industrial zone with access to skilled labor, transportation networks, and resources. This option may come with higher land costs and increased competition but can provide a more robust infrastructure for long-term growth.  
                      </p>
                    <br>
                    <label>
                        <input type="radio" name="investment-option3" value="3">
                        Regulatory Compliance - Local Compliance: $10000
                    </label>
                    <br>
                    <p>
                        Prioritize compliance with local regulations to maintain a positive relationship with the community and authorities. This option may require additional investments in safety, environmental protection, and worker welfare but can result in a more sustainable and reputable operation.                    
                    </p>
                    <br>
                    <label>
                        <input type="radio" name="investment-option3" value="3">
                        Regulatory Compliance - International Standards: $10000
                    </label>
                    <br>
                    <p>   
                        Aim for the highest level of compliance by adhering to internationally recognized standards, such as ISO certifications or the Responsible Minerals Initiative. This option can increase your market appeal and open up new opportunities, but it may also come with higher costs and stricter requirements.
                    </p>
                    <br>
                    <label>
                        <input type="radio" name="investment-option4" value="3">
                        Vertical Integration - Partial Integration: $20000
                    </label>
                    <br>
                    <p>
                        Focus on refining your chosen mineral while outsourcing or partnering with other companies for additional processing stages. This option can help manage costs and risks while allowing you to concentrate on your core business.                    
                     </p>
                  <br>
                  <label>
                    <input type="radio" name="investment-option4" value="3">
                    Vertical Integration - Full Integration: $20000
                </label>
                <br>
                    <p>  
                        Take control of the entire supply chain, from extraction to final product. This option requires a substantial investment but can result in increased profit margins, better control over quality, and greater independence from external factors.
As you establish your refining facilities, remember that each choice you make will impact your journey to becoming the ultimate Mineral Tycoon. Weigh your options, evaluate the risks and rewards, and make strategic decisions to build a thriving and profitable refining empire! 
 
                    </p>                
                </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="dismiss12()" id="submit-button">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="dismiss12()" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  
  </div>  


<!-- 3 Workforce Management The Modal -->
<div id="myModal13" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Environmental Impact: Become an Eco-Friendly Tycoon! </h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form id="investment-form">
                <div class="form-group">
                    <label>
                        <input type="radio" name="investment-option1" value="1">
                        Waste Management - Basic Disposal: $50000
                    </label>
                    <br>
                    <p>
                        Implement basic waste disposal methods, such as landfilling or storage, to manage hazardous waste. This option is more affordable but may not fully address the environmental concerns associated with your refining process.                      
                    </p>
                    <br>
                    <label>
                        <input type="radio" name="investment-option1" value="1">
                        Waste Management - Advanced Treatment: $50000
                    </label>
                    <br>
                    <p>    
                        Invest in advanced waste treatment technologies, such as recycling, neutralization, or stabilization, to minimize the impact of your refining waste. This option requires more capital but demonstrates your commitment to eco-friendly practices.
                    </p>    
                    <br>
                    <label>
                        <input type="radio" name="investment-option2" value="2">
                        Air Pollution Control - Conventional Filters: $30000
                    </label>
                    <br>
                    <p>
                        Use conventional air pollution control methods, like scrubbers or cyclones, to reduce emissions from your refining operations. This option is cost-effective but may not achieve the highest emission reduction standards.                    
                    </p>
                    <br/>
                    <label>
                        <input type="radio" name="investment-option2" value="2">
                        Air Pollution Control - Cutting-Edge Solutions: $30000
                    </label>
                    <br>
                    <p>   
                        Opt for state-of-the-art air pollution control technologies, such as electrostatic precipitators or advanced oxidation processes, to minimize emissions. This option requires more investment but can help you meet stringent environmental regulations and enhance your reputation as an eco-friendly company                        
                    </p>
                    <br>
                    <label>
                        <input type="radio" name="investment-option3" value="3">
                        Water Protection - Basic Treatment: 25000
                    </label>
                    <br>
                    <p>
                        Implement basic water treatment methods, like sedimentation or filtration, to mitigate the impact of water contamination from your refining operations. This option is more affordable but may not fully address water pollution concerns.
                    </p>
                    <br>
                    <label>
                        <input type="radio" name="investment-option3" value="3">
                        Water Protection - Advanced Purification: 25000
                    </label>
                    <br>
                    <p>   
                        Invest in advanced water purification technologies, such as reverse osmosis or membrane filtration, to ensure the water discharged from your refining operations is clean and safe. This option requires more capital but demonstrates your commitment to protecting water resources.

                    </p>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option3" value="3">
                        Green Technologies - Incremental Improvements: $150000
                    </label>
                    <br>
                    <p>
                        Gradually adopt greener refining technologies as they become available and cost-effective. This option allows for a more manageable transition to eco-friendly practices while minimizing financial risks.                        
                    </p>          
                        <br>
                        <label>
                            <input type="checkbox" name="investment-option3" value="3">
                        Green Technologies - Early Adoption: $150000
                        </label>
                        <br>
                    <p>   
                        Be a pioneer in your industry by embracing the latest green refining technologies, even if they come with higher costs. This option can help you stay ahead of the curve, attract eco-conscious customers, and set a positive example for the mining sector.
As you navigate the challenges of minimizing your environmental impact, remember that each choice you make can help shape your path to becoming a responsible and successful Mineral Tycoon. Embrace eco-friendly practices and create a sustainable future for your mining empire!
                    </p>
                </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="dismiss13()" id="submit-button">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="dismiss13()" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  
  </div>    

  <!-- 4. Quality Certificate The Modal -->
<div id="myModal14" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Quality and Certification: Unlock Market Success!</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form id="investment-form">
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="investment-option1" value="1">
                        Quality Control: $20000
                    </label>
                    <br>
                    <p>Invest in testing and monitoring to maintain high-quality products.</p>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option2" value="2">
                        Certifications: $10000
                    </label>
                    <br>
                    <p>Comply with relevant certification processes for market acceptance.
                        Achieve market success with top-notch quality and certifications, and become the ultimate Mineral Tycoon!
                        </p>
                       
                    </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="dismiss14()" id="submit-button">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="dismiss14()" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  
  </div>    

 <!--5. the next level modal The Modal -->
 <div id="myModal15" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Congratulations On completing Level 3</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
           <a type="button" class="btn btn-secondary" href="/simulation-level-four">Start Level 4</a>
        </div>
    </div>
  
  </div>   