<h3>Random Events  |    level 2</h3>
<button id="btn" onclick="sixthModal()">Start</button>

<!-- 1.	Equipment Breakdown Stage The Modal -->
<div id="myModal6" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">You have encountered an equipment breakdown. Choose a solution to resolve the issue</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form id="investment-form">
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="investment-option1" value="1">
                        Professional Repair: $70000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-1-description" placeholder="Enter description here..."></textarea>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option2" value="2">
                        Equipment Upgrade: $80000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-2-description" placeholder="Enter description here..."></textarea>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option3" value="3">
                        Quick Fix: $50000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-3-description" placeholder="Enter description here..."></textarea>
                </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="dismiss6()" id="submit-button">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="dismiss6()" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  
  </div>

<!-- 2.	Accident The Modal -->
<div id="myModal7" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Accident Alert: Ouch! An accident on-site means it's time to put your safety skills to the test! Can you handle the situation like a pro? </h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form id="investment-form">
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="investment-option1" value="1">
                        First Aid Response: $80000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-1-description" placeholder="Enter description here..."></textarea>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option2" value="2">
                        Thorough Investigation: $100000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-2-description" placeholder="Enter description here..."></textarea>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option3" value="3">
                        Safety Training Boost: $110000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-3-description" placeholder="Enter description here..."></textarea>
                </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="dismiss7()" id="submit-button">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="dismiss7()" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  
  </div>  


<!-- 3 Workforce Problem The Modal -->
<div id="myModal8" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Labor Lockdown: Hold up! A labor dispute has brought your operations to a halt. Can you negotiate a resolution and get your crew back to work? </h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form id="investment-form">
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="investment-option1" value="1">
                        Negotiate: : $90000
                    </label>
                    <br>
                    <p>Sit down with workers and address their concerns, finding a compromise.</p>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option2" value="2">
                        Incentive Program: $100000
                    </label>
                    <br>
                    <p>: Introduce new benefits and perks to win back your workforce's trust.</p>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option3" value="3">
                        Mediation: $115000
                    </label>
                    <br>
                    <p>Bring in a neutral third-party to help resolve the dispute amicably.</p>
                    <br>
                    <textarea class="form-control" name="option-3-description" placeholder="Enter description here..."></textarea>
                </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="dismiss8()" id="submit-button">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="dismiss8()" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  
  </div>    

  <!-- 4. Nature Problem The Modal -->
<div id="myModal9" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Natural Nuisances:Yikes! Mother Nature's throwing a curveball your way! Can you weather the storm and protect your mining empire? </h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form id="investment-form">
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="investment-option1" value="1">
                        Temporary Evacuation: $75000
                    </label>
                    <br>
                    <p>Move your team to safety until the natural event passes, then resume operations.<p>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option2" value="2">
                        Reinforce Infrastructure: $95000
                    </label>
                    <br>
                    <p>Invest in stronger, more resilient structures to withstand future events.</p>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option3" value="3">
                        Relocate Operations: $150000
                    </label>
                    <br>
                    <p>Move your mining site to a less disaster-prone area.</p>
                    <br>
                    <textarea class="form-control" name="option-3-description" placeholder="Enter description here..."></textarea>
                </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="dismiss9()" id="submit-button">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="dismiss9()" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  
  </div>    

 <!--5. the next level modal The Modal -->
 <div id="myModal10" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Congratulations On completing Level 2</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
           <a type="button" class="btn btn-secondary" href="/simulation-level-three">Start Level 3</a>
        </div>
    </div>
  
  </div>   