<h3>Start simulation   |    level 1</h3>
<button id="btn" onclick="firstModal()">Start</button>

<!-- 1.	Tech Investment Stage The Modal -->
<div id="myModal1" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Technology Investment</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form id="investment-form">
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="investment-option1" value="1">
                        Extraction Efficiency Boosters: $5000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-1-description" placeholder="Enter description here..."></textarea>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option2" value="2">
                        Cost-Cutting Innovations: $10000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-2-description" placeholder="Enter description here..."></textarea>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option3" value="3">
                        Eco-Friendly Solutions: $15000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-3-description" placeholder="Enter description here..."></textarea>
                </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="dismiss1()" id="submit-button">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="dismiss1()" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  
  </div>

<!-- 2.	Equipment Maintenance The Modal -->
<div id="myModal2" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Equipment Maintenance</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form id="investment-form">
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="investment-option1" value="1">
                        Frequent Inspections: $1000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-1-description" placeholder="Enter description here..."></textarea>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option2" value="2">
                        Speedy Repairs: $10000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-2-description" placeholder="Enter description here..."></textarea>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option3" value="3">
                        Replace & Upgrade: $15000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-2-description" placeholder="Enter description here..."></textarea>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option2" value="2">
                        Safety First: $10000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-3-description" placeholder="Enter description here..."></textarea>
                </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="dismiss2()" id="submit-button">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="dismiss2()" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  
  </div>  


<!-- 3 Workforce Management The Modal -->
<div id="myModal3" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Workforce Management</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form id="investment-form">
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="investment-option1" value="1">
                        Safety Training: $1000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-1-description" placeholder="Enter description here..."></textarea>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option2" value="2">
                        Personal Protective Gear: $10000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-2-description" placeholder="Enter description here..."></textarea>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option3" value="3">
                        Stellar Working Conditions: $15000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-2-description" placeholder="Enter description here..."></textarea>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option2" value="2">
                        Health & Well-being: $10000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-3-description" placeholder="Enter description here..."></textarea>
                </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="dismiss3()" id="submit-button">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="dismiss3()" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  
  </div>    

  <!-- 4. Environmental Considerations The Modal -->
<div id="myModal4" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Environmental Considerations</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form id="investment-form">
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="investment-option1" value="1">
                        Water Guardians:: $1000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-1-description" placeholder="Enter description here..."></textarea>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option2" value="2">
                        Habitat Heroes: $10000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-2-description" placeholder="Enter description here..."></textarea>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option3" value="3">
                        Waste Wizards: $15000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-2-description" placeholder="Enter description here..."></textarea>
                    <br>
                    <label>
                        <input type="checkbox" name="investment-option2" value="2">
                        Reforestation Rockstars: $10000
                    </label>
                    <br>
                    <textarea class="form-control" name="option-3-description" placeholder="Enter description here..."></textarea>
                </div>
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="dismiss4()" id="submit-button">Submit</button>
            <button type="button" class="btn btn-secondary" onclick="dismiss4()" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  
  </div>    

 <!--5. the next level modal The Modal -->
 <div id="myModal5" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
            <h4 class="modal-title">Congratulations On completing Level 1</h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
           <a type="button" class="btn btn-secondary" href="/simulation-level-two">Start Level 2</a>
        </div>
    </div>
  
  </div>   