<h1>Marketing and Sales</h1>
<!--If not gold-->
<button>Choose to Market and Sell Your Minerals with MMCZ</button>

<button>Alternative Sales Channels:</button>

<!--If Gold-->
<button>Sell Your Gold To Fidelity Printers</button>