
  .dialogue-box {
    z-index: 5;
    overflow: hidden;
    position: absolute;
    left: 60px;
    bottom: 60px;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 600;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .assistant-image {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .assistant-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .assistant-message {
    position: relative;
    max-width: 75%;
  }
  
  .typing {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    padding-left: 10px;
  }
  
  .typing::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 6px;
    height: 6px;
    background-color: #333;
    animation: blink 1s infinite;
    border-radius: 50%;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  .fade-out {
    animation: fadeOut 10s forwards;
  }
  
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  