.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  /******************************************************************************************************************************/
  

  .calendar{

    position: absolute;
    left: 20px;
    top:50px;
    width: 260px;
  }
  
  .calendar:before{
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
   opacity: 0;
    border-radius: 50%;
  }
  
  .calendar .calendar-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-bottom: 6px solid #edb639;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
  }
  
  .calendar .calendar-body .month-name{
    color: #144c7c;
    background: #edb639;
    width: 100%;
    font-size: 1.6em;
    text-align: center;
    font-weight: 500;
    padding: 5px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .calendar .calendar-body .day-name{
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 20px;
  }
  
  .calendar .calendar-body .date-number{
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.2em;
  }
  
  .calendar .calendar-body .year{
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 20px;
  }
        